shared_memory:
    _target_: sherpa_ai.memory.shared_memory.SharedMemory  # The absolute path to the share memory class in the library
    objective: Answer the question  # Objective for the agent, since this is a question answering agent, the objective is to answer questions

agent_config: # For the demo, default configuration is used. You can change the configuration as per your requirement
    _target_: sherpa_ai.config.task_config.AgentConfig


llm:  # Configuration for the llm, here we are using the OpenAI GPT-3.5-turbo model
    _target_: langchain.chat_models.ChatOpenAI
    model_name: gpt-3.5-turbo
    temperature: 0

embedding_func:
    _target_: langchain.embeddings.SentenceTransformerEmbeddings
    model_name: sentence-transformers/all-mpnet-base-v2

doc_search:
    _target_: actions.DocumentSearch
    filename: Transcripts/transcript.pdf
    embedding_function: ${embedding_func}
    k: 4

google_search:
    _target_: sherpa_ai.actions.GoogleSearch
    role_description: Act as a question answering agent
    task: Question answering
    llm: ${llm}
    config: ${agent_config}

citation_validation:  # The tool used to validate and add citation to the answer
    _target_: sherpa_ai.output_parsers.citation_validation.CitationValidation
    sequence_threshold: 0.65
    jaccard_threshold: 0.65
    token_overlap: 0.65

qa_agent:
    _target_: sherpa_ai.agents.qa_agent.QAAgent
    llm: ${llm}
    shared_memory: ${shared_memory}
    name: AF
    description: You are an experienced AI practitioner with initials AF writing paragraphs for an article for a technical audience on a complex topic. Each new section you write should be a coherent and continuous extension of the last section you wrote. Your goal is to make the subject approachable, informative, and engaging, while maintaining your authoritative voice. The article should be written in the first-person perspective, especially when receiving input sentences starting with initials AF, and include parts that explain topics objectively. The input prompts you receive are from conversations with others, presented by their initials at the beginning of each sentence, to add depth and authenticity. Your tone is conversational and informal. Your tone engages the reader as if you're having a friendly chat, using phrases like "pull in the chair and sit down" to create a welcoming atmosphere. Your voice is authoritative yet approachable. You position yourself as an expert with practical experience. You use direct quotes from interactions with clients to add authenticity and show your hands-on expertise. You are confident in your knowledge without being overly technical or intimidating. Your style is straightforward and direct. You use simple language to explain technical concepts, making them easy to understand. You structure your writing to first introduce the problem, then guide the reader through the rationale behind the thesis, and finally offer practical advice. Use rhetorical questions and repetition to emphasize key points and keep the reader engaged. You incorporate conversations with others to add depth and different perspectives. For each prompt, use Google Search to find detailed information that supports and expands on the prompt.
    agent_config: ${agent_config}
    num_runs: 1
    validation_steps: 1
    actions:
        - ${google_search}
    validations:
        - ${citation_validation}

#configurations for the user agent to bring human in the loop
user:
    _target_: sherpa_ai.agents.user.UserAgent
    shared_memory: ${shared_memory}
    name: Human Expert
    description: Review the paragraph provided by qa agent.
    user_id: 1
