# Logging configuration. For local development, typically use DEBUG or INFO.
LOG_LEVEL=INFO                     # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL

# Flask debug mode. Optional. Useful for local development. 
# Never enable debug mode in production, as doing so creates security risks.
FLASK_DEBUG=True                   # True or False

# Sherpa's deployment environment name. development, production, github_actions, etc.
SHERPA_ENV="development"

# Rollbar settings for exception tracking with https://rollbar.com/. Optional.
# ROLLBAR_ACCESS_TOKEN

# Language model settings
OPENAI_API_KEY=                     # OpenAI API key 
TEMPERATURE=                        # Only applies to the legacy task agent
# DAILY_TOKEN_LIMIT                 # Daily limit on the number of tokens users can use.
# INDEX_NAME_FILE_STORAGE           # The name of the collection to get or create vector db

# Slack integration
SLACK_OAUTH_TOKEN=                # from `OAuth & Permissions` page of your Slack App
SLACK_PORT=3000                   # port for app's web server
SLACK_SIGNING_SECRET=             # from `Basic Information` page of your Slack App
SLACK_VERIFICATION_TOKEN=         # from `Basic Information` page of your Slack App

# Vector database settings, for embeddings. Choose from Pinecone or Chroma.
# If none is configured, Sherpa uses an in-memory version of Chroma. If you're running
# Sherpa via docker-compose, Docker settings are used instead of these values.

# Pinecone. Optional. Enables cloud-based storage of vector embeddings.
# PINECONE_API_KEY=                 # The Pinecone vector database API key 
# PINECONE_NAMESPACE="ReadTheDocs"  # Pinecone namespace to use for documents 
# PINECONE_ENV=                     # Region where the Pinecone index is deployed
# PINECONE_INDEX=                   # The Pinecone vector database index

# Chroma. Optional. Enables local, docker or cloud based storage of vector embeddings.
# CHROMA_HOST=                      # Chroma host
# CHROMA_PORT=                      # Chroma port
# CHROMA_INDEX                      # Chroma index

# Serper.dev. Optional. Enables Google web search capability in Sherpa.
# SERPER_API_KEY=                   # Serper.dev API key

# Github auth for extracting readme files from GitHub repositories. Optional.
# GITHUB_AUTH_TOKEN=                # Authorization token for Github API

# Amazon Web Sevices - for transcript summaries. Optional.
# AWS_ACCESS_KEY=                   # AWS Access Key
# AWS_SECRET_KEY=                   # AWS Secret Key
